@model Change.Models.Users

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>@ViewBag.Title </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend>密码信息</legend>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            原密码：
            <div class="col-md-10">
                <input type="Password" name="OldPwd" class="form-control" />
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            新密码：
            <div class="col-md-10">
                <input type="Password" name="NewPwd" class="form-control" />
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            确认密码：
            <div class="col-md-10">
                <input type="Password" name="NewPwd2" class="form-control" />
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 确认修改 " class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

